.indicator {
  display: inline-block;
  background-color: #d1c4e9;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.err {
  background-color: #fd7070;
}
.success {
  background-color: #28ec2869;
}

.item {
  border: solid 1px;
  list-style-type: none;
  cursor: pointer;
  padding: 12px 0 12px 25px;
  text-align: left;
}
.item {
  background-color: #394956b3;
}
