.link {
  width: 167px;
  padding: 8px;
  list-style-type: none;
}

.active {
  background-color: #394956e0;
}

@media (max-width: 1180px) {
  .link {
    width: 134px;
  }
}

@media (max-width: 950px) {
  .link {
     width: 158px;
  }
}

@media (max-width: 770px){
  .link {
    width: 134px;
  }
}

@media (max-width: 680px){
  .nav-link {
    width: 121px;
  } 
}
@media (max-width: 580px){
  .nav-link {
    width: 117px;
  } 
}
@media (max-width: 430px){
  .nav-link {
    width: 134px;
  } 
}


