.text {
  margin-bottom: 18px;
  background-color: #394956ad;
  padding: 40px 0 20px 0;
  height: calc(100vh - 261px);
}
.button_active {
  background-color: #ffff73;
  color: #394956;
  border: none;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  font-weight: 600;

  font-size: 15px;
}
.button_active:hover {
  cursor: pointer;
}
.text2 {
  color: #ffff73;
}
@media (max-width: 430px) {
  text {
    font-size: 16px;
  }
}
