.container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.logo {
  color: #d1c4e9;
}
.span1 {
  color: #ad66d5;
}
.span2 {
  color: #d25fd2;
}
.span3 {
  color: #996ad6;
}
.span4 {
  color: #ffff73;
}
.score {
  color: #d1c4e9;
}
.list {
  display: flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #394956b3;
  margin-top: 0;
  padding: 0;
}

@media (max-width: 430px) {
  .container {
    padding: 0;
  }
  .logo {
    font-size: 25px;
  }
  .score {
    font-size: 18px;
    padding-top: 8px;
  }
}
